.header{
    margin: 0;
    padding: 20% ;
    box-sizing: border-box;
}

body {
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    background-image: url(https://thumbs.dreamstime.com/b/train-repair-depot-budapest-empty-train-hangar-99938338.jpg);
    background-size: cover;       
    background-position: center; 
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 20px;
    background-color: #000000;
}
}

.logo {
    width: 50px; 
    height: auto;
    align-items:left;
}

.centered-heading {
    flex-grow: 1;
    text-align: center;
}

.navbar {
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: black;
    list-style-type: none; 
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
}

.navbar a:hover {
    background-color: #000000;
    color: white;
    list-style: none;
    list-style-type: none;
} 

#train-guide {
    width: 70%;
    height: 30%;
    background-color: #f0f0f0; 
    margin: 10px auto; 
    margin-bottom:10px;
    padding: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    list-style: none;
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    text-align: center;
    padding:15px;
    background-color: black;
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}


footer {
  background-color: #000000;
  padding: 25px;
  text-align: center;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.shadow-box {
    width: 40%;
    height: 60%;
    background-color: #f0f0f0; 
    margin: 20px auto; 
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}

.Identification {
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: #000000;
}

tbody {
    color: black;
    text-align: center;
    padding: 20px;
}

table {
    width: 100%;
    margin: auto; 
    border-collapse: collapse;
}

.row-1 {
    background-color: #CACACA;
}
.row-2 {
    background-color:#000000; 
    color: white;
}
.row-3 {
    background-color: #CACACA; 
}
.row-4 {
    background-color: #000000;
    color: white;
}
.row-5 {
    background-color: #CACACA;
}
.row-6 {
    background-color: #000000;
    color: white;
}
.row-7 {
    background-color: #CACACA;
}

.container-mt-3 {
    display: flex;
}

#lrt1 {
    width: 70%;
    height: 30%;
    background-color: #f0f0f0; 
    margin: 3px auto; 
    margin-bottom:10px;
    padding: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    list-style: none;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal; 
}

h2 {
    padding:10px;
    background-color:#000000;
    color: white;
    text-align: center;
}
.train-box {
    width: 20%;
    height: 30%;
    background-color: #f0f0f0; 
    margin-left: 127px;
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    text-align: center;
    display: inline-block;
    align-items: center;
    list-style:none;
    img: 100px;
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
.train-box img {
    width: 200px;
    height: 225px;
}

.train-box a {
    display: block;
    margin-top: 10px;
}

.button {
    background-color: #000000;
    color:white;
    width: 100%;
    display: flex; 
    justify-content: center;
    
    
}
select, button {
    padding: 10px;
    margin: 10px;
}
